{% extends 'base.html' %}

{% block 'title'%}Relatorio{% endblock %}

{% block 'titulo'%}Liberar Acesso{% endblock %}

{% block 'user' %}Usuario: {{nome}}{% endblock %}


{% block 'dashboard'%}

{% if nivel == 1 %}
<div class="flex items-center justify-between p-4 mb-8 text-sm font-semibold text-purple-100 bg-purple-600 rounded-lg shadow-md focus:outline-none focus:shadow-outline-purple"
>
  <div class="flex items-center">
    <a class="text-white-600 mr-4" href="{% url 'geracao' %}"> Geração</a> 
    <a class="text-white-600 mr-4" href="{% url 'consumo' %}"> Consumo</a>
    <a class="text-white-600 mr-4" href="{% url 'armazenado_mensal' %}"> Arm. Mensal</a>
    <a class="text-white-600 mr-4" href="{% url 'injetado' %}"> Injetado</a>
    <a class="text-white-600 mr-4" href="{% url 'armazenado_total' %}"> Arm. Total</a>
    <a class="text-white-600 mr-4" href="{% url 'liberar' %}"> Liberar acesso</a>
  </div>   
</div>  
{% endif %}

<div class="grid gap-6 mb-8 md:grid-cols-1">
    <div class="min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">

        <form action="{% url 'salvar_acesso' ref %}" method="get">
            {% csrf_token %}
            <input type="hidden" name="dist" value="{{dist}}">
            <input type="hidden" id="retornoStatus" value="{{status}}">
            <div class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800">
              <label class="block text-sm mt-4">
                <span class="text-gray-700 dark:text-gray-400">Referencia: <span style="padding: 3px; background: #7e3af2; color: white; border-radius: 6px;">{{ref}}</span></span>
                <select
                  class=" mt-4 block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-select focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
                  name="status" id="status">
                  <option value="1">Ativo</option>
                <option value="0">Inativo</option>
                </select>
              </label>
                <button class="mt-4 px-4 py-2 text-sm mr-4 font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
                >Salvar
                </button>
          </div>
        </form>
        
    </div>
</div>
{% endblock %}









{% block 'js' %}
<script>
  let selectSt = document.getElementById('status')
  let textoSt = document.getElementById('retornoStatus').value;
  SelectedStatus(selectSt,textoSt)

</script>
{% endblock %}