:root{
     
    --main-color: #5c8ef2;
    --dark-color: linear-gradient(195deg, #42424a 0%, #191919 100%);
    --light-color: #ffc27f;
    --contrast-color: #f88863;
    --differential-color: #ffe29a;

}




