{% extends 'base.html' %}

{% block 'title'%}Clientes{% endblock %}

{% block 'titulo'%}Clientes{% endblock %}

{% block 'user' %}Usuario: {{nome}}{% endblock %}

{% block 'dashboard'%}

<div class="flex items-center justify-between p-4 mb-8 text-sm font-semibold text-purple-100 bg-purple-600 rounded-lg shadow-md focus:outline-none focus:shadow-outline-purple"
>
  <div class="flex items-center">
    <a class="text-white-600" href="{% url 'cadastrarCliente' %}">Novo Cliente</a>
  </div>   
</div>  


<div class="formatualizar">
  <form action="{% url 'updateCli' cliente.id %}" method="post">
    {% csrf_token %}
  <input type="hidden" id="retornoStatus" value="{{cliente.status}}">
  <input type="hidden" id="retornoDistribuidora" value="{{cliente.distribuidora}}">
  <div class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800">
  <label class="block text-sm mt-4">
    <span class="text-gray-700 dark:text-gray-400">Nome</span>
    <input
      class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
      placeholder="Marcos" name="nome" value="{{ cliente.nome }}"
    />
  </label>

  <label class="block text-sm mt-4">
    <span class="text-gray-700 dark:text-gray-400">Endereco</span>
    <input
      class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
      placeholder="Ex: Rua das flores" name="end" value="{{ cliente.end }}"
    />
  </label>

  <label class="block text-sm mt-4">
    <span class="text-gray-700 dark:text-gray-400">Contato</span>
    <input
      class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
      placeholder="Ex: 9999-9999" name="fone" value="{{ cliente.fone }}"
    />
  </label>

  <label class="block mt-4 text-sm">
    <span class="text-gray-700 dark:text-gray-400">
      Status
    </span>
    <select
      class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-select focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
      name="status" id="status" >
      <option value="1">Ativo</option>
      <option value="0">Inativo</option>
    </select>
  </label>

  <button class="mt-4 px-4 py-2 text-sm mr-4 font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
  >Editar Cliente
  </button>
  </div>
  </form>
</div>


{% endblock %}{% block 'js' %}
<script>
  let texto = document.getElementById('retornoDistribuidora').value;
  let select = document.getElementById('distribuidora')
  SelectedIput(select,texto)

  let selectSt = document.getElementById('status')
  let textoSt = document.getElementById('retornoStatus').value;

  SelectedStatus(selectSt,textoSt)

</script>
{% endblock %}